.navbar{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.btn{
  height: 25px;
  font-size: 13px;
  
}
.btn button{
  border-radius: 30px;
  background-color: rgb(89,165,184);
  height: 27px;
  width: 80px;
  color: white;
}
.cName{
  font-size: 12px;
  /* margin-left: 100px; */
}
.navbar .p{
  display: flex;
  font-size: 13px;
  
}
.navbar .p p{
  padding: 10px;
}
